body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u532 {
  position:absolute;
  left:80px;
  top:100px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u534 {
  position:absolute;
  left:80px;
  top:144px;
  width:255px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
