<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TAP0001_礼物盒子</title>
	<link rel="stylesheet" href="form/css/style.css">
	<script src='form/js/jquery-2.1.1.min.js'></script>
	<script src='form/js/vue.min.js'></script>
</head>

<body>
	<div id="container">
		<div class="edit-form">
			<div class="h-title">TAP0001_礼物盒子</div>
			
			<% include ./src/common/template/common_head %>

			<div class="c-group">
				<div class="c-title">编辑问题</div>
				<div class="c-area upload img-upload">
					<div class="c-well">
						<div class="well-con">
							<label>图片为盒子关闭和打开的序列帧</label>
							<div class="c-well" v-for="(item,index) in configData.source.list">
									<div class="well-title">
										<p>选项{{index+1}}</p>
										<span class="dele-tg-btn" v-on:click="delSele(item)" v-show='configData.source.list.length>2?true:false'></span>
									</div>
									<input type="text" class='c-input-txt' placeholder="请在此输入单词(必填)" v-model="item.font" maxlength='30' style="width: 80%;display: inline-block;margin-bottom: 10px;"><em style="color: red;display: inline-block;">*</em>
									<div class="well-con">
										<div class="field-wrap">
											<label class="field-label"  for="">图片</label><label v-bind:for="'img-upload'+index" class="btn btn-show upload" v-if="item.img ==''?true:false">上传</label><label  v-bind:for="'img-upload'+index" class="btn upload re-upload" v-if="item.img !=''?true:false">重新上传</label><span class='txt-info'>（尺寸：760X400，大小：≤50KB)<em>*</em></span>
											<input type="file"  v-bind:key="Date.now()" class="btn-file" v-bind:id="'img-upload'+index" size="760*400" accept=".gif,.jpg,.jpeg,.png" v-on:change="imageUpload($event,item,'img',50)">
										</div>
										<div class="img-preview" v-if="item.img !=''?true:false">
											<img v-bind:src="item.img " alt=""/>
											<div class="img-tools">
												<span class="btn btn-delete" v-on:click="item.img =''">删除</span>
											</div>
										</div>
									</div>
								</div>

							<button type="button" class="add-tg-btn" v-on:click="addSele()" v-show='configData.source.list.length<4?true:false'>+</button>
						</div>
					</div>
				</div>

			</div>
			<button class="send-btn" v-on:click="onSend">提交</button>
		</div>
		<div class="edit-show">
			<div class="show-fixed">
				<div class="show-img">
					<img src="form/img/preview.jpg?v=<%=new Date().getTime()%>" alt="">
				</div>
				<ul class="show-txt">
					<li>
						<em>图片格式：</em>JPG/PNG/GIF</li>
					<li>
						<em>声音格式：</em>MP3/WAV</li>
					<li>
						<em>视频格式：</em>MP4</li>
					<li>带有“ * ”号为必填项</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src='form/js/form.js?v=<%=new Date().getTime()%>'></script>

</html>