<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TRA0001_随机音素</title>
	<link rel="stylesheet" href="form/css/style.css"> 
	<script src='form/js/jquery-2.1.1.min.js'></script>
	<script src='form/js/vue.min.js'></script> 
</head>

<body>
	<div id="container">
		<div class="edit-form">
			<div class="h-title">TRA0001_随机音素</div>
			
			<% include ./src/common/template/common_head %>

			<!-- 添加选项 -->
			<div class="c-group">
				<div class="c-title">添加选项</div>
				<div class="c-area upload img-upload">
					<label>卡片单词 （显示位置3）<em>&nbsp;&nbsp; * 每个文本框字符:≤3</em></label>
					需要标记为红色的字母，在下方勾选即可。
					<div class="c-well" v-for="(item, index) in configData.source.options">{{index+1}}、
						<span class="dele-btn" @click="delOption(item)" v-show="configData.source.options.length>2"></span>
						<ul class="c-input-List">
						<li v-for="(arr, i) in item.wordsList.letter">
							<input type="text" class='c-input-words' placeholder="" v-model="arr.w" maxlength="3"  :class="{ red: item.wordsList.color[i].isRed ,borderColor:item.color[i]==i}">&nbsp;<em>{{i>=item.wordsList.letter.length-1?'=':'+'}}</em>

							<input type="checkbox" class="c-input-color" name="" v-model="item.wordsList.color[i].isRed">标红
						</li>
							<span class="words">{{spellWords(index)}}</span>
						</ul>
					<!-- 语音评测 -->
						<!-- <div class="field-wrap record"> -->
						<!--item.text为空或者全为空格时  禁用语音测评 -->
							<!-- <input type="checkbox" :id="'record-upload-'+index" class="c-input-record" name="" v-model="item.recordStatus" :disabled='item.words== ""||new RegExp("^[ ]+$").test(item.words)'>启用语音评测 -->
							<!-- <div class="timeBox"> -->
								<!-- 录音时长&nbsp;<input type="number" class='c-input-time' placeholder="" v-model="item.timeLong" min="3" max="20"  :disabled="item.recordStatus!=true">&nbsp;秒							 -->
							<!-- </div> -->
						<!-- </div> -->
					</div>
					<button v-if="configData.source.options.length<10" type="button" class="add-btn" @click="addOption" >+</button>
				</div>
			</div>
			<button class="send-btn" v-on:click="onSend">提交</button>
		</div>
		<div class="edit-show">
			<div class="show-fixed">
				<div class="show-img">
					<img src="form/img/bg.jpg?v=<%=new Date().getTime()%>" alt="">
				</div>
				<ul class="show-txt">
					<li>
						<em>图片格式：</em>JPG/PNG/GIF</li>
					<li>
						<em>声音格式：</em>MP3/WAV</li>
					<li>
						<em>视频格式：</em>MP4</li>
					<li>带有“ * ”号为必填项</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src='form/js/form.js?v=<%=new Date().getTime()%>'></script>

</html>