body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:682px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:37px;
  top:1546px;
  width:515px;
  height:682px;
}
#u816 {
  position:absolute;
  left:2px;
  top:333px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:176px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:61px;
  top:1568px;
  width:466px;
  height:176px;
}
#u818 {
  position:absolute;
  left:2px;
  top:80px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:37px;
  top:102px;
  width:515px;
  height:173px;
}
#u820 {
  position:absolute;
  left:2px;
  top:78px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:75px;
  top:113px;
  width:282px;
  height:16px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:76px;
  top:190px;
  width:201px;
  height:16px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u825 {
  position:absolute;
  left:37px;
  top:2427px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u826 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u827 {
  position:absolute;
  left:35px;
  top:16px;
  width:293px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:37px;
  top:329px;
  width:515px;
  height:301px;
}
#u830 {
  position:absolute;
  left:2px;
  top:142px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:62px;
  top:339px;
  width:465px;
  height:234px;
}
#u832 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u833 {
  position:absolute;
  left:75px;
  top:350px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:75px;
  top:389px;
  width:29px;
  height:16px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:75px;
  top:457px;
  width:420px;
  height:16px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u839 {
  position:absolute;
  left:280px;
  top:589px;
  width:27px;
  height:27px;
  font-size:20px;
}
#u840 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:37px;
  top:1398px;
  width:515px;
  height:87px;
}
#u842 {
  position:absolute;
  left:2px;
  top:36px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:61px;
  top:1413px;
  width:201px;
  height:16px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u845 {
  position:absolute;
  left:37px;
  top:62px;
  width:515px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u846 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u847 {
  position:absolute;
  left:37px;
  top:290px;
  width:515px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u848 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u849 {
  position:absolute;
  left:37px;
  top:1358px;
  width:515px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u850 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u851 {
  position:absolute;
  left:37px;
  top:1506px;
  width:515px;
  height:41px;
  color:#FFFFFF;
  text-align:left;
}
#u852 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:137px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:600px;
  top:384px;
  width:537px;
  height:137px;
}
#u854 {
  position:absolute;
  left:2px;
  top:60px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
}
#u855 {
  position:absolute;
  left:618px;
  top:396px;
  width:300px;
  height:112px;
  line-height:28px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u857 {
  position:absolute;
  left:75px;
  top:145px;
  width:83px;
  height:27px;
  color:#1E1E1E;
}
#u858 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:86px;
  top:1583px;
  width:51px;
  height:16px;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u861 {
  position:absolute;
  left:280px;
  top:2176px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u862 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u863 {
  position:absolute;
  left:75px;
  top:416px;
  width:420px;
  height:25px;
}
#u863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u864 {
  position:absolute;
  left:75px;
  top:482px;
  width:420px;
  height:71px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:71px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u865 {
  position:absolute;
  left:61px;
  top:1442px;
  width:434px;
  height:25px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u866 {
  position:absolute;
  left:75px;
  top:226px;
  width:420px;
  height:25px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u867 {
  position:absolute;
  left:626px;
  top:1568px;
  width:172px;
  height:428px;
}
#u868 {
  position:absolute;
  left:10px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:37px;
  top:686px;
  width:515px;
  height:301px;
}
#u870 {
  position:absolute;
  left:2px;
  top:142px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:62px;
  top:696px;
  width:465px;
  height:234px;
}
#u872 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u873 {
  position:absolute;
  left:75px;
  top:707px;
  width:29px;
  height:22px;
  font-size:18px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:75px;
  top:746px;
  width:29px;
  height:16px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:75px;
  top:814px;
  width:420px;
  height:16px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u879 {
  position:absolute;
  left:280px;
  top:946px;
  width:27px;
  height:27px;
  font-size:20px;
}
#u880 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u881 {
  position:absolute;
  left:37px;
  top:647px;
  width:515px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u882 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:75px;
  top:773px;
  width:420px;
  height:25px;
}
#u883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u884 {
  position:absolute;
  left:75px;
  top:839px;
  width:420px;
  height:71px;
}
#u884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:71px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:37px;
  top:1040px;
  width:515px;
  height:301px;
}
#u886 {
  position:absolute;
  left:2px;
  top:142px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:62px;
  top:1050px;
  width:465px;
  height:234px;
}
#u888 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u889 {
  position:absolute;
  left:75px;
  top:1061px;
  width:25px;
  height:22px;
  font-size:18px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:75px;
  top:1100px;
  width:29px;
  height:16px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:75px;
  top:1168px;
  width:420px;
  height:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u895 {
  position:absolute;
  left:280px;
  top:1300px;
  width:27px;
  height:27px;
  font-size:20px;
}
#u896 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u897 {
  position:absolute;
  left:37px;
  top:1001px;
  width:515px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u898 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:75px;
  top:1127px;
  width:420px;
  height:25px;
}
#u899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u900 {
  position:absolute;
  left:75px;
  top:1193px;
  width:420px;
  height:71px;
}
#u900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:71px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:114px;
  top:1615px;
  width:43px;
  height:16px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u903 {
  position:absolute;
  left:159px;
  top:1611px;
  width:159px;
  height:25px;
}
#u903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:100px;
  top:1654px;
  width:57px;
  height:16px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u906 {
  position:absolute;
  left:159px;
  top:1650px;
  width:79px;
  height:25px;
}
#u906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u907 {
  position:absolute;
  left:159px;
  top:1583px;
  width:319px;
  height:16px;
  color:#FF0000;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u909 {
  position:absolute;
  left:339px;
  top:1615px;
  width:67px;
  height:16px;
  color:#FF0000;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u911 {
  position:absolute;
  left:259px;
  top:1655px;
  width:59px;
  height:16px;
  color:#FF0000;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:86px;
  top:1697px;
  width:71px;
  height:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u915 {
  position:absolute;
  left:159px;
  top:1689px;
  width:93px;
  height:31px;
  color:#000000;
}
#u916 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u917 {
  position:absolute;
  left:268px;
  top:1697px;
  width:237px;
  height:16px;
  color:#FF0000;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:61px;
  top:1763px;
  width:466px;
  height:200px;
}
#u920 {
  position:absolute;
  left:2px;
  top:92px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:86px;
  top:1778px;
  width:51px;
  height:16px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:114px;
  top:1810px;
  width:43px;
  height:16px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u925 {
  position:absolute;
  left:159px;
  top:1806px;
  width:159px;
  height:25px;
}
#u925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:100px;
  top:1849px;
  width:57px;
  height:16px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u928 {
  position:absolute;
  left:159px;
  top:1845px;
  width:79px;
  height:25px;
}
#u928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u929 {
  position:absolute;
  left:159px;
  top:1778px;
  width:319px;
  height:16px;
  color:#FF0000;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u931 {
  position:absolute;
  left:339px;
  top:1810px;
  width:67px;
  height:16px;
  color:#FF0000;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u933 {
  position:absolute;
  left:259px;
  top:1850px;
  width:59px;
  height:16px;
  color:#FF0000;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:86px;
  top:1892px;
  width:71px;
  height:16px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u937 {
  position:absolute;
  left:159px;
  top:1884px;
  width:93px;
  height:31px;
  color:#000000;
}
#u938 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u939 {
  position:absolute;
  left:268px;
  top:1892px;
  width:237px;
  height:16px;
  color:#FF0000;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:176px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:61px;
  top:1980px;
  width:466px;
  height:176px;
}
#u942 {
  position:absolute;
  left:2px;
  top:80px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:86px;
  top:1995px;
  width:51px;
  height:16px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:114px;
  top:2027px;
  width:43px;
  height:16px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u947 {
  position:absolute;
  left:159px;
  top:2023px;
  width:159px;
  height:25px;
}
#u947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:100px;
  top:2066px;
  width:57px;
  height:16px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u950 {
  position:absolute;
  left:159px;
  top:2062px;
  width:79px;
  height:25px;
}
#u950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u951 {
  position:absolute;
  left:159px;
  top:1995px;
  width:319px;
  height:16px;
  color:#FF0000;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u953 {
  position:absolute;
  left:339px;
  top:2027px;
  width:67px;
  height:16px;
  color:#FF0000;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u955 {
  position:absolute;
  left:259px;
  top:2067px;
  width:59px;
  height:16px;
  color:#FF0000;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:86px;
  top:2109px;
  width:71px;
  height:16px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
  background:inherit;
  background-color:rgba(252, 200, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u959 {
  position:absolute;
  left:159px;
  top:2101px;
  width:93px;
  height:31px;
  color:#000000;
}
#u960 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u961 {
  position:absolute;
  left:268px;
  top:2109px;
  width:237px;
  height:16px;
  color:#FF0000;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u963 {
  position:absolute;
  left:504px;
  top:1996px;
  width:11px;
  height:11px;
}
#u964 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u965 {
  position:absolute;
  left:269px;
  top:1932px;
  width:19px;
  height:16px;
}
#u966 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u967 {
  position:absolute;
  left:159px;
  top:1931px;
  width:106px;
  height:18px;
  color:#666666;
}
#u968 {
  position:absolute;
  left:2px;
  top:1px;
  width:102px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:302px;
}
#u969 {
  position:absolute;
  left:600px;
  top:62px;
  width:537px;
  height:302px;
}
#u970 {
  position:absolute;
  left:2px;
  top:143px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u971 {
  position:absolute;
  left:816px;
  top:72px;
  width:21px;
  height:21px;
}
#u972 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u973 {
  position:absolute;
  left:758px;
  top:94px;
  width:21px;
  height:21px;
}
#u974 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u975 {
  position:absolute;
  left:789px;
  top:163px;
  width:21px;
  height:21px;
}
#u976 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:37px;
  top:2287px;
  width:515px;
  height:120px;
}
#u978 {
  position:absolute;
  left:2px;
  top:52px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u979 {
  position:absolute;
  left:37px;
  top:2247px;
  width:515px;
  height:41px;
  color:#FFFFFF;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:10px;
  width:511px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:127px;
  top:2306px;
  width:91px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u983 {
  position:absolute;
  left:234px;
  top:2313px;
  width:165px;
  height:16px;
  color:#FF0000;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  position:absolute;
  left:61px;
  top:2313px;
  width:80px;
  height:16px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u987 {
  position:absolute;
  left:127px;
  top:2356px;
  width:91px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u989 {
  position:absolute;
  left:234px;
  top:2363px;
  width:165px;
  height:16px;
  color:#FF0000;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:61px;
  top:2363px;
  width:80px;
  height:16px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u993 {
  position:absolute;
  left:976px;
  top:157px;
  width:21px;
  height:21px;
}
#u994 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u995 {
  position:absolute;
  left:626px;
  top:2284px;
  width:150px;
  height:126px;
}
#u996 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:552px;
  top:2347px;
  width:0px;
  height:0px;
}
#u997_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u997_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u998 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  position:absolute;
  left:527px;
  top:1656px;
  width:0px;
  height:0px;
}
#u999_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u999_seg1 {
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:134px;
}
#u999_seg2 {
  position:absolute;
  left:59px;
  top:122px;
  width:40px;
  height:8px;
}
#u999_seg3 {
  position:absolute;
  left:85px;
  top:116px;
  width:21px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:13px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
