<div class="resultMask resultHide">
    <audio src="./audio/resultLose.mp3"  class="resultLoseMp3"></audio>
    <audio src="./audio/resultWin.mp3"  class="resultWinMp3"></audio>
    <!-- 胜利 -->
    <div class="resultWin resultHide">
        <div class="resultAPos_1 resultAPos"></div>
        <div class="resultAPos_2 resultAPos"></div>
        <div class="resultAPos_3 resultAPos"></div>
        <div class="resultAPos_4 resultAPos"></div>
        <div class="resultAPos_5 resultAPos"></div>
    </div>
    <!-- 失败 -->
    <div class="resultLose resultHide">

    </div>
</div>